{
  "useTabs": false,
  "svelteAllowShorthand": true,
  "singleQuote": true,
  "trailingComma": "none",
  "semi": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "svelteBracketNewLine": false,
  "htmlWhitespaceSensitivity": "strict",
  "endOfLine": "crlf",
  "printWidth": 100
}
